.postInfoPage{
    display: flex;
    color: #fff;
    position: relative;
    height: 100vh;
}
.postInfo{
    border-left: 1px solid #3e3d3d;
    width: 30%;
}
.postInfo .userInfo{
    display: flex;
    gap: 10px;
    padding: 12px 16px;
}
.postInfo .userImg{
    width: 50px;
}
.postInfoPage .reactionOne{
    height: 48px;
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    border-bottom: 1px solid #3e3d3d;
    border-top: 1px solid #3e3d3d;
    color:#5c5b5b
}
.postInfoPage .reactionOne div{
    display:flex;
    align-items:center;
}
.postInfoPage .reactionOne div span{
    font-size:15px;
    padding-left: 4px;
    padding-right: 4px;
}
.commentInput{
    display:flex;
    padding:12px 16px;
    gap:10px;
    border-bottom:1px solid #3e3d3d;
    align-items:center;
}
.postText{
    padding:16px;
}
.postInfo input{
    width: 100%;
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 17px;
    outline: none;
    max-height:100px ;
} 
.postInfo button{
    padding:0px 20px;
    height: 40px;
    border-radius: 30px;
    background-color: #1d9bf0;
    border: 1px solid #1d9bf0;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.postInfo button:hover{
    cursor: pointer;
}
.postImg{
    background-color: rgba(24, 23, 23, 0.5);
    position: relative;
    width: 70%;
}
.closePostInfo{
    padding:8px 10px;
    border-radius:999px;
    position:fixed;
    top:15px;
    left:10px;
    z-index:999px;
    font-size: 20px;
}
.buttonsContainer{
    position: "sticky";
    top:0px;
    margin:auto;
    width:50%;
}
.buttonsContainer img{
    min-height:94vh;
    max-width:95vh;
    object-fit:contain;
    z-index:999px; 
}
.commentBox{
    display:flex;
    align-items:center;
    gap:5px;
}
.commentBox span{
    font-size:15px;
    font-weight:700;
}
.userBox{
    display:flex;
    flex-direction:column;
}
.userName{
    font-weight:700;
}
.userNick{
    color:#5c5b5b
}
.isPostText{
    display:flex;
    flex-direction:column;
}
.postDate{
    color:#5c5b5b;
    font-weight:400;
    margin-top:16px;
    margin-bottom:16px;
    padding-left:16px;
    padding-right:16px;
}
.postImg .reactionOnePost{
    display: flex;
    gap: 100px;
    border: none;
    margin-top: 10px;
}