.profilePageContainer {
  display: flex;
  flex-direction: column;
  @media screen and (min-width:800px) {
    width: calc(100%-777px);
    margin-left: 301px;
    margin-right: 363px;
  }
  @media screen and (max-width:800px) {
    width: calc(100%-68px);
    margin-left: 80px;
  }
}
.profileHeader {
  color: #fff;
  display: flex;
  position: sticky;
  top: 0px;
  padding: 10px 20px;
  gap: 20px;
  align-items: center;
  z-index: 999;
  background-color: #000;
}
.profileHeader span {
  font-weight: 700;
  font-size: 19px;
}
.userCoverImg {
  width: 100%;
  background-image: url('https://picsum.photos/seed/picsum/200/300');
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width:800px) {
    height: 200px;
  }
  @media screen and (max-width:800px) {
    height: 150px;
  }
}
.userInfoContainer {
  width: 100%;
  padding-top: 10px;
  position: relative;
}
.userInfoContainer button {
  margin-right: 10px;
  background-color: #000;
  border: 1px solid rgb(83, 100, 113);
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 999px;
}
.userInfoContainer .profileInfoBox {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.userInfoContainer .profilePicture {
  position: absolute;
  background-color: #000;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 15px;
  @media screen and (min-width:800px) {
    width: 140px;
    height: 140px;
    top: -75px;
  }
  @media screen and (max-width:800px) {
    width: 100px;
    height: 100px;
    top: -45px;
  }
}
.userInfoContainer .profilePicture img {
  object-fit: contain;
  @media screen and (min-width:800px) {
    width: 130px;
  }
  @media screen and (max-width:800px) {
    width: 90px;
  }
}
.userName {
  font-weight: 700;
  font-size: 20px;
}
.changeProfile {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.textColor {
  color: rgb(92, 91, 91);
}
.marginTop {
  margin-top: 12px;
}
.followed {
  color: #fff;
  font-weight: 700;
}
.followers {
  color: #fff;
  font-weight: 700;
  margin-left: 20px;
}
