.react-tabs__tab-list {
  display: flex;
  justify-content: space-around;
  background-color: #000;
  padding: 10px;
  color: rgb(113, 118, 123);
  font-weight: 700;
  border-bottom: 1.5px solid#23252a;
}

.react-tabs__tab--selected {
  border-radius: 5px;
  border: none;
  background: #000;
  color: #fff;
  border-bottom: 4px solid #1d9bf0;
}
.react-tabs__tab-panel {
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}
.react-tabs__tab {
  display: inline-block;
  border: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}
.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  border-bottom: 4px solid #1d9bf0;
  background: #000;
  border-radius: 60px 60px 10px 10px;
}
