.loginForm {
  display: flex;
  background-color: #000;
  flex-direction: column;
  margin: auto;
  color: #fff;
  position: relative;
  @media screen and (max-width:800px) {
    padding: 0px;
  }
  @media screen and (min-width:800px) {
    padding: 80px 100px;
    border-radius: 5%;
  }
}
.pageTitle{
  font-weight: 700;
  @media screen and (max-width : 800px){
    font-size: 24px;
    margin: 20px 0px;
  }
  @media screen and (min-width : 800px){
    font-size: 32px;
  }
}
.loginBtnCntn {
  margin-bottom: 20px;
  height: 40px;
}
.loginForm .inputBox input {
  @media screen and (max-width:800px) {
    width: 280px;
    height: 50px;
    margin: 20px 0px;
  }
  @media screen and (min-width:800px) {
    width: 330px;
    height: 50px;
    margin: 15px 0px;
  }
  background-color: #000;
  border: 1px solid #3e3d3d;
  border-radius: 5px;
  padding: 0px 10px;
  color: #fff;
  font-size: 15px;
  outline: none;
  position: relative;
}
.loginForm .loginBtn {
  @media screen and (max-width:800px) {
    width: 300px;
    height: 40px;
    margin-top: 12px;
  }
  @media screen and (min-width:800px) {
    margin-top: 40px;
    width: 350px;
    height: 45px;
  }
  background-color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
}
.loginForm .logo {
  position: absolute;
  font-size: 35px;
  @media screen and (max-width:800px) {
    top: -100px;
    left: 150px;
  }
  @media screen and (min-width:800px) {
    top: 10px;
    left: 250px;
  }
}
.loginForm .inputBox span {
  position: absolute;
  left: 10px;
  z-index: 1;
  transition: 0.2s ease all;
  @media screen and (min-width:800px) {
    top: 23px;
  }
  @media screen and (max-width:800px) {
    top: 27px;
  }
}
.inputBox {
  position: relative;
  color: #797777;
  font-size: 17px;
  z-index: 999;
}
.inputBox span {
  position: absolute;
  top: 30px;
  left: 10px;
  padding-top: 6px;
  z-index: 1;
  transition: 0.2s ease all;
}
.seePassword{
  position: absolute;
  right: 10px;
  @media screen and (max-width:800px) {
    top: 35px;
  }
  @media screen and (min-width:800px) {
    top: 30px;
  }
}
.seePassword svg{
  color: #fff;
  font-size:22px;
}
.inputBox div {
  position: absolute;
  bottom: -5px;
  color: #f4212e;
  font-weight: 200;
  font-size: 13px;
}
.inputBox input:focus + span {
  color: #1d9bf0;
  @media screen and (max-width:800px) {
    top: 15px;
    font-size: 12px;
  }
  @media screen and (min-width:800px) {
    top: 10px;
    font-size: 15px;;
  }
}
.inputBox input:focus {
  border: 1px solid #1d9bf0;
}
.closeForm {
  @media screen and (max-width:800px) {
    top: -90px;
    left: -60px;
  }
  @media screen and (min-width:800px) {
    top: 20px;
    left: 10px;
  }
  position: absolute;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
}
.closeForm:hover {
  cursor: pointer;
  background-color: rgb(91, 112, 131, 0.4);
}
.registerBtn {
  @media screen and (max-width:800px) {
    width: 300px;
    height: 40px;
    margin: 12px 0px;
  }
  @media screen and (min-width:800px) {
    width: 340px;
    height: 45px;
    margin-bottom: 8px;
  }
  border-radius: 30px;
  background-color: #fff;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.registerBtn span {
  font-size: 15px;
  margin-left: 10px;
}
.registerSeperate {
  margin: 15px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.googleImg {
  height: 22px;
  object-fit: cover;
}
.appleLogo svg {
  font-size: 22px;
}
.appleLogo span {
  font-weight: 700;
}
