.registerPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
    position: relative;
}
.logo{
    margin-top: 160px;
    font-size: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    font-family: "TwitterChirpExtendedHeavy","Verdana",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.title{
    display: flex;
    flex-direction: column;
    font-size: 80px;
    letter-spacing: -5px;
    font-weight: bold;
    font-family: "TwitterChirpExtendedHeavy","Verdana",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    margin-bottom: 40px;
}
.subtitle{
     letter-spacing: -2px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}
.registerBtn{
    width: 340px;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 8px;
    background-color: #fff;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.registerBtn span{
    font-size: 15px;
    margin-left: 10px;
}
.registerSeperate{
    margin : 15px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.seperateLine{
    height: 0.2px;
    width:140px;
    background-color:#3e3d3d ;
}
.seperateText{
    font-weight: 200;
    padding: 0px 10px;
}
.createAccountBtn{
    width: 340px;
    height: 45px;
    border-radius: 30px;
    margin-bottom: 8px;
    background-color: #1d9bf0 ;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
    margin-bottom: 50px;
}
.createAccountBtn span{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.createAccountBtn:hover{
    filter: brightness(85%);
    cursor: pointer;
}
.loginBtn{
    margin-top: 20px;
    width: 340px;
    height: 45px;
    border-radius: 30px;
    margin-bottom: 8px;
    background-color: #000 ;
    border: 1px solid rgb(83, 100, 113);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}
.loginBtn:hover{
    cursor: pointer;
    background-color: rgb(18, 22, 26);
}
.loginBtn span{
    font-size: 16px;
    color: #1d9bf0;
    font-weight: bold;
}
.background{
    height: 100vh;
    width: 100vh;
    background-color: rgb(91, 112, 131, 0.4)
}
.form{
    position: absolute;
    background-color: #000;
    top: 40%;
    left: 40%;
    z-index: 999;
}
.signupForm{
    display: flex;
    background-color:#000 ;
    flex-direction: column;
}
.signupForm form {
    display: flex;
    flex-direction: column;
}
.homePage{
    display: flex;
    flex-direction: row;
    color: #fff;
}
.posts{
    width: 50px;
    background-color: red;
    width: calc(100% - 400px);
    margin-left: 400px; 
}
.menuBar{
    height: 100vh;
    width: 400px;
    position: fixed;
    left: 0px;
    border-right: 1px solid #3e3d3d;
    display: flex;
    justify-content:end;
}
.menuBar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menuBar ul li {
    width: 250px;
    padding: 0px;
    padding: 14px 0px;
}
.menuBar ul li svg{
    font-size: 22px;
}
.menuBar ul li span{
    font-size: 21px;
    letter-spacing: 0.2px;
    margin-left: 20px;
}
.menuBar ul li a{
    text-decoration: none;
    color: #fff;
}
.mobileSend{
    display: none;
}
.webSend{
    width: 90%;
    height: 50px;
    border-radius: 30px;
    background-color: #1d9bf0;
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 16px;
    color: #fff;
    transition: all 300ms ease-in-out;
    border: 1px solid  rgb(29, 155, 240); ;
}
.webSend:hover{
    filter: brightness(85%);
    cursor: pointer;
}
