.registerPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
    position: relative;
}
.logo{
    margin-top: 90px;
    font-size: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    font-family: "TwitterChirpExtendedHeavy","Verdana",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.title{
    display: flex;
    flex-direction: column;
    font-size: 70px;
    letter-spacing: -5px;
    font-weight: bold;
    font-family: "TwitterChirpExtendedHeavy","Verdana",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    margin-bottom: 40px;
}
.subtitle{
    letter-spacing: -2px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.registerBtn{
    width: 340px;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 8px;
    background-color: #fff;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.registerBtn span{
    font-size: 15px;
    margin-left: 10px;
}
.registerSeperate{
    margin : 15px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.seperateLine{
    height: 0.2px;
    width:140px;
    background-color:#3e3d3d ;
}
.seperateText{
    font-weight: 200;
    padding: 0px 10px;
}
.createAccountBtn{
    width: 340px;
    height: 45px;
    border-radius: 30px;
    margin-bottom: 8px;
    background-color: #1d9bf0 ;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
    margin-bottom: 50px;
}
.createAccountBtn span{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.createAccountBtn:hover{
    filter: brightness(85%);
    cursor: pointer;
}
.loginBtn{
    margin-top: 20px;
    width: 340px;
    height: 45px;
    border-radius: 30px;
    margin-bottom: 8px;
    background-color: #000 ;
    border: 1px solid rgb(83, 100, 113);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}
.loginBtn:hover{
    cursor: pointer;
    background-color: rgb(18, 22, 26);
}
.loginBtn span{
    font-size: 16px;
    color: #1d9bf0;
    font-weight: bold;
}
.background{
    height: 100vh;
    width: 100vh;
    background-color: rgb(91, 112, 131, 0.4)
}
.form{
    position: absolute;
    background-color: #000;
    top: 1%;
    left: 35%;
    z-index: 999;
    border-radius: 5%;
    padding: 45px;
}
.closeForm{
    position: absolute;
    top: 20px;
    left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out;
}
.closeForm:hover{
    cursor: pointer;
    background-color: rgb(91, 112, 131, 0.4) ;
}
.signupForm{
    display: flex;
    background-color:#000 ;
    flex-direction: column;
    border-radius: 5%;
}
.signupForm form {
    display: flex;
    flex-direction: column;
}
.signupForm .inputBox input{
    background-color: #000;
    border: 1px solid #3e3d3d;
    border-radius: 5px;
    width: 450px;
    height: 60px;
    padding:0px 10px;
    margin: 15px 0px;
    color: #fff;
    font-size: 17px;
    outline: none;
}
.inputBox  input:focus{
    border: 1px solid #1d9bf0;
}
.signupForm button{
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
}
.signupForm button:hover{
    cursor: pointer;
}
.loginForm{
    display: flex;
    background-color:#000 ;
    flex-direction: column;
    border-radius: 5%;
    padding: 45px 60px; 
}
.loginBtnCntn{
    margin-bottom: 20px;
    height: 40px;
}
.loginForm .inputBox input{
    background-color: #000;
    border: 1px solid #3e3d3d;
    border-radius: 5px;
    width: 330px;
    height: 50px;
    padding:0px 10px;
    margin: 15px 0px;
    color: #fff;
    font-size: 15px;
    outline: none;
}
.loginForm  .loginBtn{
    margin-top: 40px;
    width: 350px;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
}
.loginForm .logo{
    position: absolute;
    font-size: 35px;
    top: -70px;
    left: 262px;
}
.loginForm .inputBox span{
    position: absolute;
    top: 23px;
    left: 10px;
    z-index: 1;
    transition: 0.2s ease all;
}
.inputBox{
    position: relative;
    color:  #797777;
    font-size: 17px;
    z-index: 999;
}
.inputBox span{
    position: absolute;
    top: 30px;
    left: 10px;
    padding-top: 6px;
    z-index: 1;
    transition: 0.2s ease all;
}
.inputBox div{
    position: absolute;
    bottom: -5px;
    color: #f4212e;
    font-weight: 200;
    font-size: 13px;
    left: 10px;
}
.inputBox input:focus+span{
	top: 10px;
    font-size: 15px;
    color: #1d9bf0;
}

.homePage{
    display: flex;
    flex-direction: row;
    color: #fff;
}

.menuBar{
    height: 100vh;
    width: 400px;
    position: fixed;
    left: 0px;
    border-right: 1px solid #3e3d3d;
    display: flex;
    justify-content:end;
    background-color: #000;
}
.menuBar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: #fff;
}
.menuBar ul li {
    width: 250px;
    padding: 0px;
    padding: 14px 0px;
}
.menuBar ul li svg{
    font-size: 22px;
}
.menuBar ul li span{
    font-size: 21px;
    letter-spacing: 0.2px;
    margin-left: 20px;
}
.menuBar ul li a{
    text-decoration: none;
    color: #fff;
}
.mobileSend{
    display: none;
}
.webSend{
    width: 90%;
    height: 50px;
    border-radius: 30px;
    background-color: #1d9bf0;
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 16px;
    color: #fff;
    transition: all 300ms ease-in-out;
    border: 1px solid  rgb(29, 155, 240); ;
}
.webSend:hover{
    filter: brightness(85%);
    cursor: pointer;
}
.profileContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 90%;
    padding: 10px;
    transition: all 300ms ease-in-out;
}
.profileContainer:hover{
    background-color: #2b2a2a;
    cursor: pointer;
}
.profileImgContainer{
    width: 45px;
    height: 45px;
}
.profileImgContainer img{
    width: 100%;
    object-fit: contain;
}
.profileNameContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.profileNameContainer span{
    font-size: 15px !important;
    margin-left: 10px;
}
.logoutContainer{
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow:1px 1px 20px  #888888;
    background-color: #000;
    border-radius: 10px;
    position: absolute;
    bottom: 100px;
    width:300px;
    height: 100px;
    left: 120px;
    transition: all 300ms ease-in-out;
}
.logoutContainer span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    width: 100%;
    transition: all 300ms ease-in-out;
}
.logoutContainer span:hover{
    cursor: pointer;
    background-color:#2b2a2a;
}
.arrowDown {
    position: absolute;
    bottom: -8px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
}
.posts{
    width: calc(100%-776);
    margin-left: 400px;
    margin-right: 376px;
    border-left:  1px solid #3e3d3d;
    border-right:  1px solid #3e3d3d;
}
.postsHeader{
    width: 100%;
    position: sticky;
    z-index: 999;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 1.2fr 0.1fr ;
    border-bottom: 1px solid #3e3d3d;
    background-color: #000;
}
.postsHeader span{
    padding: 12px;
    text-align: center;
    font-weight: 700;
}
.postPart{
    height: calc(100%-53);
    margin-top: 10px;
}
.createPost{
    width: 100%;
    min-height: 150px;
    border-bottom: 2px solid #3e3d3d;
    padding-bottom: 10px;
}
.createPost textarea{
    background-color: #000;
    border: none;
    width: 100%;
    min-height: 60px;
    border-bottom: 1px solid #3e3d3d ;
    color: #fff;
    padding: 20px 0px;
    resize: none;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.createPost textarea:focus{
    outline: none;
}
.createPost textarea::placeholder{
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   
}
.createPost .profileImgContainer{
    margin-left: 10px;
}

.createPost .categories ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.createPost .categories ul li{
    padding-right:20px;
}
.createPost .categories ul li button{
    color: #1d9bf0;
    background-color: transparent;
    border: none;
}
.createPost .send{
    padding: 12px 20px;
    border-radius: 20px;
    background-color: #1d9bf0;
    color: #fff;
    font-weight: 700;
    border: none;
}
.createPost .send:hover{
    cursor: pointer;
    filter: brightness(85%);
}
.postBox{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #3e3d3d;
    width: 100%;
}
.userInfoBox{
    padding: 10px;
    display: flex;
}
.userProfile{
    width: 40px;
    height: 40px;
}
.userProfile img{
    height: 100%;
    object-fit: contain;
}
.userNameBox{
    display: flex;
    flex-direction:  row;
    margin-left: 10px;
    align-items: center;
}
.userNameBox span{
    margin-top: 10px;
    padding-right: 5px;
}
.postContainer{
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.userPostBox{
    max-height: 500px; 
    overflow: auto; 

}
.userPostBox p{
    white-space: normal; 
    margin-block-start: 0px;
    margin-block-end: 0px;
    
}
.reaction{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    color: #5c5b5b;
}
.reactionOne{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.reactionTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin-left: 70px;
}
.agendaPage{
    height: 100%;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-self: center;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: #000;
    border-left: 1px solid #23252a;
}
.searchBox{
    background-color: #000;
    padding: 5px;
}
.searchBox div{
    position: absolute;
    top: 27px;
    left: 55px;
    color:  #5c5b5b;
}
.searchBox input{
    background-color: #23252a;
    border: 1px solid #23252a;
    outline: none;
    border: none;
    padding: 15px 5px ;
    text-indent: 50px;
    border-radius: 30px;
    color: #fff;
    width: 100%;
}
.searchBox input:focus{
    border: 1px solid #1d9bf0;
    outline: none;
}
.searchBox input:focus+ div{
    color: #1d9bf0;
}
.searchBox input::placeholder{
    font-size: 15px;
}
.agendaContainer{
    margin-top: 20px;
    background-color: #1a1b1e;
    padding: 10px 0px;
    border-radius: 20px;
}
.agendaContainer span{
    font-size: 20px;
    font-weight: 700;
    padding: 0px 20px;
}
.agendaList ul{
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    margin-top: 20px;
}
.agendaList ul li {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    transition: all 300ms esa;
}

.agendaList ul li:hover{
    background-color:  #252525;
}
.agendaCategory{
    font-size: 13px !important;
    font-weight: 400 !important;
    color:  #666565;
}
.agendaName{
    font-size: 16px !important;
    color: #fff;
}
.followPeople{
    background-color: #1a1b1e;
    padding: 10px 0px;
    border-radius: 20px;
    margin-top: 20px;
}
.followPeople span{
    font-size: 20px;
    font-weight: 700;
    padding: 0px 20px;
}
.peopleList ul{
    list-style: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}
.peopleList ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.peopleInfo{
    display: flex;
    flex-direction: row;
}
.peopleimg{
    width: 40px;
    height: 40px;
}
.peopleimg img{
    height: 100%;
    object-fit: contain;
}
.peopleName{
    display: flex;
    flex-direction: column;
}
.peopleFollowBtn{
    padding: 8px 25px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    font-weight: 700
}
.postInfoPage{
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: #fff;
    position: relative;
    height: 100vh;
}
.postInfo{
    padding: 20px;
    border-left: 1px solid #3e3d3d;;
}
.postInfo .userInfo{
    display: flex;
    gap: 10px;
}
.postInfo .userImg{
    width: 50px;
}
.postInfoPage .reactionOne{
    padding: 15px 10px;
    font-size: 17px;
    border-bottom: 1px solid #3e3d3d;
    border-top: 1px solid #3e3d3d;
}
.postText{
    padding-bottom: 20px;
    padding-top: 20px;
}
.postInfo input{
    width: 100%;
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 17px;
    outline: none;
} 
.postImg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(24, 23, 23, 0.5);
}
.postImg .reactionOne{
    display: flex;
    gap: 100px;
    margin-bottom:10px ;
    border: none;
}
.profilePageContainer{
    display: flex;
    flex-direction: column;
    width: calc(100%-777);
    margin-left: 401px;
    margin-right: 376px;
}
.profileHeader{
    color: #fff;
    display: flex;
    position: sticky;
    top: 0px;
    padding: 10px 20px;
    gap: 20px;
    align-items: center;
    background-color: #000;
}
.userCoverImg{
    width: 100%;
    height: 200px;
    background-image: url("https://picsum.photos/seed/picsum/200/300");
    background-repeat: no-repeat;
    background-size: cover;
}
.userInfoContainer{
    width: 100%;
    padding-top: 10px;
    position: relative;
}
.userInfoContainer button{
    margin-right: 10px;
    background-color: #000;
    border: 1px solid rgb(83, 100, 113);;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 999px;
}
.userInfoContainer .profileInfoBox{
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
}
.userInfoContainer .profilePicture {
    position: absolute;
    width: 140px;
    height: 140px;
    top: -75px;
    left: 20px;
    background-color: #000;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}