.registerPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
    position: relative;
}
.logo{
    margin-top: 90px;
    font-size: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    font-family: "TwitterChirpExtendedHeavy","Verdana",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.title{
    display: flex;
    flex-direction: column;
    font-size: 70px;
    letter-spacing: -5px;
    font-weight: bold;
    font-family: "TwitterChirpExtendedHeavy","Verdana",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    margin-bottom: 40px;
}
.subtitle{
    letter-spacing: -2px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.registerBtn{
    width: 340px;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 8px;
    background-color: #fff;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.registerBtn span{
    font-size: 15px;
    margin-left: 10px;
}
.registerSeperate{
    margin : 15px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.seperateLine{
    height: 0.2px;
    width:140px;
    background-color:#3e3d3d ;
}
.seperateText{
    font-weight: 200;
    padding: 0px 10px;
}
.createAccountBtn{
    width: 340px;
    height: 45px;
    border-radius: 30px;
    margin-bottom: 8px;
    background-color: #1d9bf0 ;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
    margin-bottom: 50px;
}
.createAccountBtn span{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.createAccountBtn:hover{
    filter: brightness(85%);
    cursor: pointer;
}
.loginBtn{
    margin-top: 20px;
    width: 340px;
    height: 45px;
    border-radius: 30px;
    margin-bottom: 8px;
    background-color: #000 ;
    border: 1px solid rgb(83, 100, 113);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
}
.loginBtn:hover{
    cursor: pointer;
    background-color: rgb(18, 22, 26);
}
.loginBtn span{
    font-size: 16px;
    color: #1d9bf0;
    font-weight: bold;
}
.background{
    height: 100vh;
    width: 100vh;
    background-color: rgb(91, 112, 131, 0.4)
}
.form{
    position: absolute;
    background-color: #000;
    top: 1%;
    left: 35%;
    z-index: 999;
    border-radius: 5%;
    padding: 45px;
}
.closeForm{
    position: absolute;
    top: 20px;
    left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease-in-out;
}
.closeForm:hover{
    cursor: pointer;
    background-color: rgb(91, 112, 131, 0.4) ;
}
.signupForm{
    display: flex;
    background-color:#000 ;
    flex-direction: column;
    border-radius: 5%;
}
.signupForm form {
    display: flex;
    flex-direction: column;
}
.signupForm .inputBox input{
    background-color: #000;
    border: 1px solid #3e3d3d;
    border-radius: 5px;
    width: 450px;
    height: 60px;
    padding:0px 10px;
    margin: 15px 0px;
    color: #fff;
    font-size: 17px;
    outline: none;
}
.inputBox  input:focus{
    border: 1px solid #1d9bf0;
}
.signupForm button{
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
}
.signupForm button:hover{
    cursor: pointer;
}
.loginForm{
    display: flex;
    background-color:#000 ;
    flex-direction: column;
    border-radius: 5%;
    padding: 45px 60px; 
}
.loginBtnCntn{
    margin-bottom: 20px;
    height: 40px;
}
.loginForm .inputBox input{
    background-color: #000;
    border: 1px solid #3e3d3d;
    border-radius: 5px;
    width: 330px;
    height: 50px;
    padding:0px 10px;
    margin: 15px 0px;
    color: #fff;
    font-size: 15px;
    outline: none;
}
.loginForm  .loginBtn{
    margin-top: 40px;
    width: 350px;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
}
.loginForm .logo{
    position: absolute;
    font-size: 35px;
    top: -70px;
    left: 262px;
}
.loginForm .inputBox span{
    position: absolute;
    top: 23px;
    left: 10px;
    z-index: 1;
    transition: 0.2s ease all;
}
.inputBox{
    position: relative;
    color:  #797777;
    font-size: 17px;
    z-index: 999;
}
.inputBox span{
    position: absolute;
    top: 30px;
    left: 10px;
    padding-top: 6px;
    z-index: 1;
    transition: 0.2s ease all;
}
.inputBox div{
    position: absolute;
    bottom: -5px;
    color: #f4212e;
    font-weight: 200;
    font-size: 13px;
    left: 10px;
}
.inputBox input:focus+span{
	top: 10px;
    font-size: 15px;
    color: #1d9bf0;
}

.homePage{
    display: flex;
    flex-direction: row;
    color: #fff;
}
.postAndAgendaPart{
    display: flex;
    width: calc(100% - 400px);
    flex-direction: row;
    margin-left: 400px; 
}
.menuBar{
    height: 100vh;
    width: 400px;
    position: fixed;
    left: 0px;
    border-right: 1px solid #3e3d3d;
    display: flex;
    justify-content:end;
}
.menuBar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menuBar ul li {
    width: 250px;
    padding: 0px;
    padding: 14px 0px;
}
.menuBar ul li svg{
    font-size: 22px;
}
.menuBar ul li span{
    font-size: 21px;
    letter-spacing: 0.2px;
    margin-left: 20px;
}
.menuBar ul li a{
    text-decoration: none;
    color: #fff;
}
.mobileSend{
    display: none;
}
.webSend{
    width: 90%;
    height: 50px;
    border-radius: 30px;
    background-color: #1d9bf0;
    font-weight: 600;
    letter-spacing: 0.2px;
    font-size: 16px;
    color: #fff;
    transition: all 300ms ease-in-out;
    border: 1px solid  rgb(29, 155, 240); ;
}
.webSend:hover{
    filter: brightness(85%);
    cursor: pointer;
}
.profileContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 30px;
    width: 90%;
    padding: 10px;
    transition: all 300ms ease-in-out;
}
.profileContainer:hover{
    background-color: #2b2a2a;
    cursor: pointer;
}
.profileImgContainer{
    width: 45px;
    height: 45px;
}
.profileImgContainer img{
    width: 100%;
    object-fit: contain;
}
.profileNameContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.profileNameContainer span{
    font-size: 15px !important;
    margin-left: 10px;
}
.logoutContainer{
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow:1px 1px 20px  #888888;
    background-color: #000;
    border-radius: 10px;
    position: absolute;
    bottom: 100px;
    width:300px;
    height: 100px;
    left: 120px;
    transition: all 300ms ease-in-out;
}
.logoutContainer span{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    width: 100%;
    transition: all 300ms ease-in-out;
}
.logoutContainer span:hover{
    cursor: pointer;
    background-color:#2b2a2a;
}
.arrowDown {
    position: absolute;
    bottom: -8px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #000;
}
.posts{
    width: 600px;
}
.postsHeader{
    width: 570px;
    position: fixed;
    z-index: 999;
    top: 0px;
    display: grid;
    grid-template-columns: 1fr 1.2fr 0.1fr ;
    border-bottom: 1px solid #3e3d3d;
    padding: 15px;
}
.postsHeader span{
    text-align: center;
    font-weight: 700;
}
.postPart{
    height: calc(100%-53);
    margin-top: 53px;
}
.createPost{
    position: relative;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #3e3d3d ;
}
.createPost textarea{
    background-color: #000;
    border: none;
    width: 80%;
    height: 60px;
    border-bottom: 1px solid #3e3d3d ;
    color: #fff;
    position: absolute;
    right: 15px;
    padding: 20px 0px;
    resize: none;
}
.createPost textarea:focus{
    outline: none;
}
.createPost textarea::placeholder{
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   
}
.createPost .profileImgContainer{
    position: absolute;
    left: 15px;
    top: 15px;
}
.agendaPage{
    height: 100vh;
    border-left: 1px solid #3e3d3d;
}
.createPost .categories{
    position: absolute;
    bottom: 0px;
    left: 65px;
}
.createPost .categories ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.createPost .categories ul li{
    padding-right:20px;
    color: #1d9bf0;
}
.createPost .send{
    position: absolute;
    bottom: 6px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #1d9bf0;
    color: #fff;
    font-weight: 700;
    border: none;
}
.createPost .send:hover{
    cursor: pointer;
    filter: brightness(85%);
}