.messageUsersContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(91, 112, 131, 0.4);
  z-index: 9999;
}
.messageUsers {
  width: 550px;
  height: 500px;
  max-height: 500px;
  color: #fff;
  border-radius: 10px;
  padding: 15px;
  background-color: #000;
}
.messageUsersHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.messageUsersHeaderTitle {
  display: flex;
  gap: 10px;
  align-items: center;
}
.messageUsersHeaderTitle span {
  font-weight: 700;
  font-size: 20px;
}
.messagesUserBox {
  background-color: #000;
}
.searchMessageUser {
  padding: 5px 0px;
  border-bottom: 1px solid #3e3d3d;
  position: relative;
}
.searchMessageUser input {
  width: 100%;
  padding: 10px 0px;
  background-color: #000;
  outline: none;
  border: none;
  color: #fff;
  text-indent: 25px;
  font-size: 15px;
}
.searchMessageUser svg {
  font-size: 20px;
  position: absolute;
  left: 0px;
  bottom: 15px;
}
.searchMessageUser input:focus + svg {
  color: #1d9bf0;
}
.searchUserList ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.searchUserList ul li {
  display: flex;
  gap: 10px;
  padding: 10px 0px;
  border-radius: 5px;
}
.searchUserList ul li:hover {
  cursor: pointer;
  background-color: #252525;
}
.searchUserList ul li img {
  width: 40px;
  object-fit: contain;
}
.profileNameContainer {
  display: flex;
  flex-direction: column;
}
.userName {
  font-weight: 700;
}
.userNick {
  color: rgb(92, 91, 91);
}
.selectUserBtn {
  padding: 7px 20px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #fff;
  font-weight: 700;
  font-size: 14px;
}
.selectUserBtn:hover {
  cursor: pointer;
}
